{% extends "layout.html" %}
{% block content %}

<div class="container">
  
  <div class="row">
    <div class="col">
      <h1>About Pinehead Records</h1>
      <img src="/static/img/store.jpg" class="img-fluid img-responsive img-thumbnail float-right ml-4" style="width:40%">
      <p>Pinehead Records was founded in 1977 by brothers John and George Pine. They operate New York's most popular
        record shop in Manhattan's trendy East Village. Pinehead Records has grown over time to become a NYC landmark.
        Known as a cultural destination and rare-vinyl mecca for devoted music lovers and collectors, it originally opened
        as a used bookstore, and expanded in 1995 to become what it is today. Pinehead Records carry second hand and some
        limited new merchandise and collectors' items. Music genres range from Classical, Rock, Jazz, to Avant-Garde on
        45s and LP records. Pinehead's collection is impressive for both its breadth and depth — it’s the uncommon kind of
        shop where you can easily walk out with a bag of painfully obscure soul 45s and out-of-print metal albums as well
        as low-priced '70s classics and the latest from that buzzworthy band your friend just blogged about.</p>
      <p>Pinehead Records boasts a collection of over 100,000 vinyl albums in stock.</p>
      
    </div>
  </div>

  <div class="row">
    <div class="col">
    <strong>Address:</strong><br>
    Pinehead Records<br>
    812 Broadway<br>
    New York, NY 10003
      </div>
  </div>

  <div class="row mt-3">
    <div class="col">
    <strong>Store Hours:</strong><br>
    Sunday - Wednesday : 11am - 7pm<br>
    Thursday - Saturday : 11am - 8pm
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
    <strong>Nearest Parking:</strong><br>
    Chelsea Lot #35, 41 W 17th St, New York, NY 10011<br>
    Sound Parking, 118 5th Ave, New York, NY 10011
    </div>
  </div>

  <div class="row mt-4 mb-5">
    <div class="col">
    <h3>We are open 7 days a week!</h3>
    <div class="embed-responsive embed-responsive-16by9 img-thumbnail">
      <iframe class="embed-responsive-item"
        src="//maps.google.com/maps?hl=en&amp;q=812+Broadway,+New+York,+NY+10003&amp;ie=UTF8&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=addr"></iframe>
    </div>
    </div>
  </div>

</div>

{% endblock content %}