{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">

        <img class="bd-placeholder-img card-img-top" src="{{ album.album_art }}"
          alt="Album art for {{ album.title }}" />

        <div class="card-body">
          <span class="card-text"><small>by <a
                href="/artist/{{ album.artist.id }}">{{ album.artist.name }}</a></small></span><br>
          <span class="card-text">{{ album.title }}</small></span><br>
          <span class="card-text"><small>{{album.year }} - {{album.format}}</small></span><br>
          <span class="card-text">{{ "$%.2f"|format(album.price) }}</span>
          <div class="d-flex justify-content-between align-items-center mt-2">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary add-to-cart">Add to cart</button>
            </div>
            <small class="text-muted">★★★★★</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Track list</h3>
      <ul class="list-group">
        {% for track in album.tracks %}
        <li class="list-group-item">
          <span class="badge badge-secondary">{{ track.number }}</span>
          <span class="ml-2">{{ track.name }}<small class="text-muted ml-2">{{ track.length_str }}</small></span>
          {% endfor %}
      </ul>
    </div>
  </div>

  {% endblock content %}