{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Albums by {{ artist_name }}</h3>
      <ul class="list-group">
        {% for album in albums %}
          <li class="list-group-item">
            <img style="width: 40px; margin-right: 10px" src="{{ album.album_art }}" alt="Album art for {{ album.title }}" onerror="this.src='/static/img/no-albumart.svg';">
            <span class="ml-2"><a href="/artist/{{ album.artist_name }}/album/{{ album.id }}">{{ album.title }}</a></span>
            <span class="ml-2"><small class="text-muted">{{ album.format }}</small></span>
            </li>
        {% endfor %}
      </ul>
    </div>
</div>

{% endblock content %}