[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-paginate = "*"
flask-mysqldb = "*"
flask-login = "*"
flask-wtf = "*"
flask-bcrypt = "*"
flask-cache = "*"
flask-caching = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
